 body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica";
}
h1 {
    border-bottom: thin solid #aaa;
}
pre {
    border-left: 10px solid #aaa;
    padding-left: 20px;
}
.name {
    font-style: italic;
    font-weight: bold;
}
